<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdyUHfRWkaA7uCUKzB7mo0ZlDAtfU59Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>782798528674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moreChat</string>
	<key>PROJECT_ID</key>
	<string>more-chat-22ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>more-chat-22ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782798528674:ios:2dca89808f72261d34f7fb</string>
</dict>
</plist>